.buttons-top-right {
    display: flex;

    position:absolute;
    top:0;
    right:0;

    margin-top: 2%;
    margin-right: 2%;

    .button-propos {
        margin-right: 5%;
        width: 120%;
        align-self: center;
        font-size: 100%;
    }

    button {
        background-color: gray;
        border-radius: 5%;
        border-width: 1px;
    }
}

.container {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-color: lightslategrey;
}

a {
    color: black;
}

.menu {
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    margin-top: 2%;
    position: relative;
}

nav  a{
float: left;
text-decoration: none;
text-align: center;
color: #ffffff;
background: #000000;
height: 36px;
width: 140px;
line-height: 33px;
padding: 0 10px;
font-family: sans-serif;
font-size: 13px;
transition: .5s;
}
nav  a:hover{
background: #3c5cb3;
}

.explication-text {
    margin-left: 3%;
    margin-right: 3%;
    background: rgb(175, 214, 255);
    border-style: inset;
    padding-left: 10px;
    padding-right: 10px;
}