<div class="container">
    <nav class="menu">
        <p><a href="" routerLink="../">Carte</a></p>
        <p><a href="" routerLink="../explication">Explication du projet</a></p>
        <p><a href="" routerLink="../documentation">Documentation</a></p>
        <p><a href="https://github.com/CapgePau-Uppa/2023-TER-fermeSolaire">Lien git supplémentaire</a></p>
    </nav>
    <div class="buttons-top-right">
        <button class="button-propos" routerLink="">Carte</button>
        <button class="button-git" onclick="location.href='https://github.com/CapgePau-Uppa/2023-TER-fermeSolaire'">Git Hub</button>
    </div>

    <div class="explication-text">
        <h1>
            About
        </h1>
        <h2>
            What is this projet ?
        </h2>
        <p>
            This website is a school project done by two students, MANUEL Anthony and STEMMEL Nathanael, in first year of UPPA's Master degree TI. It has been supervised by LAMAS Fabien, ANSELMI Thomas, KOLLEN Thibault, FRANZESE Ricardo, FAUVET Guillaume, DUBOIS Nicolas and LEFEVRE Mikaël , who all work for Capgemini.
        </p>

        <p>
            The goal of it is to show thanks to a heatmap the best places to put solar panels. It currently only shows data for mainland France.
        </p>

        <h2>
            Technologies used
        </h2>
        <p>
            The web site's architecture is seperated in two. 
        </p>
        <p>
            The server side, which treats data and answers requests (it's made using NodeJS);
        </p>
        <p>
            and the client side, which requests data to the server (it was made using Angular).
        </p>

    </div>
</div>