<div class="container">
    <nav class="menu">
        <p><a href="" routerLink="../">Carte</a></p>
        <p><a href="" routerLink="../explication">Explication du projet</a></p>
        <p><a href="" routerLink="../documentation">Documentation</a></p>
        <p><a href="https://github.com/CapgePau-Uppa/2023-TER-fermeSolaire">Lien git supplémentaire</a></p>
    </nav>
    <div class="buttons-top-right">
        <button class="button-propos" routerLink="">Carte</button>
        <button class="button-git" onclick="location.href='https://github.com/CapgePau-Uppa/2023-TER-fermeSolaire'">Git Hub</button>
    </div>

    <div class="documentation-text">
        <h1>
            Documentation
        </h1>
        <h2>
            Here the documentation
        </h2>


    </div>
</div>