:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;

}

main {
    display: flex;
    flex-grow: 1;
    z-index: 0;
}

.map-container {
    flex-grow: 1;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.65);
    color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    border: 0px;
    padding: 5px 10px;
}