.sidebar {
    width: 15em;
    height: 100vh;
    background-color: black;
    opacity: 0.90;
    color: white;

    button {
        img {
            height: 20px;
            width: 20px;
            margin: 0px;
            opacity: 0.95;
        }

        padding-top: 3px;
        padding-bottom: 1px;
        padding-right: 5px;
        padding-left: 5px;
        background-color: black;
        border: 0px;
        position: absolute;
        margin-left: 18em;
    }

    a {
        position: absolute;
        bottom: 5%;
        left: 5%;
        margin-bottom: 0;
        color: white;
    }

    .searchbar {
        margin-top: 5%;
        margin-left: 10%;
        width: 80%;
    }

    .filters {
        ul {
            margin-top: 5%;
            left: 10%;
        }
    }


    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.3s;

}

.sidebar--deployed {
    transform: translateX(0);
}