/* You can add global styles to this file, and also import other style files */
*{
    font-family: Roboto, Helvetica, sans-serif;
}

body{
    padding : 0;
    margin : 0;
}

.zoom-buttons{
    display: flex;
    flex-direction: column;

    button {
        margin : 10%;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        font-size: 200%;
        text-align: center;
        opacity: 65%;
        background-color: black;
        color: white;
    }

    position:absolute;
    bottom:0;
    right:0;
    margin-bottom: 2%;
    margin-right: 2%;
}